@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');


.header{
  text-align: center;
  font-size: 34px;
  font-family: 'Poiret One', cursive;
  padding: 20px;
  color: #82bd1d ;
  margin-bottom: 50px;
}

.selects_field{
  width: 100%;
  border-color: #82bd1d !important;
}


.search_btn{
  background-color: #82bd1d67 !important;
  padding: 8px 15px !important;
}




/*  */

.the_schedules_chart{
  width: 600px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 30px;
}

.location{
  margin-top: 30px;
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #82bd1d;
}

.location span{
  display: inline;
  margin-left: 10px;
}

.warning{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #ff0000;
  width: max-content;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
}


.loading{
  position: absolute;
  left: 50%;
  width: min-content;
  transform: translateX(-50%);
}

.loader{
  width: 25px !important;
  height: 25px !important;
  color: #1f4d74 !important;
}

.input_field{
  margin-bottom: 10px !important;
}

.input_field input{
  width: 100% !important;
}

@media screen and (max-width:630px) {
  .the_schedules_chart{
    width: 100% !important;
    padding: 0 !important;
  }
}